body {
    background-color: rgb(210, 54, 210);
    box-sizing: border-box;
}

.box {
    text-align: center;
    font-size: 30px;
    border: 2px solid black;
    background-color: #ffffff;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 2px;

}

.box blockquote {
    font-size: 26px;
    min-height: 110px;

}

.b {
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

button {
    background-color: rgb(253, 254, 255);
    border-radius: 20px;
    border: 1px solid black;
    color: rgb(18, 17, 17);
    align-items: center;
    height: 50px;
    width: 150px;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

button:nth-child(2) {
    background: transparent;
}

button img {
    width: 20px;
}

button:hover {
    transform: scale(1.2);
}

.box blockquote::before,
.box blockquote::after {
    content: '"';
}

.box span {
    font-size: 24px;
}

.box span::before {
    content: '--';
}